{% extends 'base.html.twig' %}

{% block title %}proStage.fr Stages{% endblock %}

{% block body %}
<h1>{{stage.titre}}</h1>
<ul>
  <li><h4>Entreprise : </h4> {{stage.entreprise.nom}}</li>
  <li><h4>Activité : </h4> {{stage.entreprise.activite}}</li>
  <li><h4>Adresse : </h4> {{stage.entreprise.adresse}}</li>
  <li><h4>Email : </h4> {{stage.adresseMail}}</li>
  <li><h4>Site Web : </h4> {{stage.entreprise.siteWeb}}</li>
  <li>
    <h4>Formations requises :</h4>
    <!-- Affichage de la liste des formations pour ce stage -->
    {% for formationCourant in stage.formations %}
      {{formationCourant.intitule}}
      <!-- On affiche un tiret si il y a d'autres formations après -->
      {% if loop.last == false %}
       -
      {% endif %}
    {% endfor %}
  </li>
</ul>
<div id="mission">
  <h4>Mission : </h4>{{stage.mission}}</li>
</div>


{% endblock %}
